:root {
    --width-menu        : 250px;
    --height-header     : 50px;
    /* PALETA DE COLORES */
    --color--primary    : #FF0066;
    /* ESCALA DE GRISES */
    --gray--1           : #F5F5F5;
    --gray--2           : #E5E5E5;
    /* FUENTES */
    --font--1           : #3E4356;
}

.dashboard {
    background-color: lightblue;
    min-height: 100vh;
    display: flex;
}

.dashboard__menu {
    background-color: tomato;
    flex: 0 0 var(--width-menu);
}

.dashboard__content {
    background-color: lawngreen;
    flex: 1 0 auto;
}

.dashboard__header {
    background-color: mediumaquamarine;
    height: var(--height-header);
}

.dashboard__content__section  {
    background-color: orangered;
    height: calc(100vh - var(--height-header));
}