:root {
    --width-menu        : 250px;
    --pl-menu           : 20px;
    --height-header     : 70px;
    --width-icons       : 100px;
    /* PALETA DE COLORES */
    --color--primary    : #FF0066;
    /* ESCALA DE GRISES */
    --gray--1           : #F5F5F5;
    --gray--2           : #E5E5E5;
    /* FUENTES */
    --font--1           : #3E4356;
}

.dashboard {
    background-color: lightblue;
    min-height: 100vh;
    display: flex;
}

.dashboard__menu {
    background-color: tomato;
    flex: 0 0 var(--width-menu);
}

.dashboard__menu__logo {
    background-color: var(--gray--1);
    height: var(--height-header);
    padding-left: var(--pl-menu);
    border-right: 1px solid var(--gray--2);
    border-bottom: 1px solid var(--gray--2);
}

.dashboard__menu__logo__image {
    width: 60px;
}

.dashboard__content {
    background-color: lawngreen;
    flex: 1 0 auto;
}

.dashboard__header {
    background-color: var(--gray--1);
    height: var(--height-header);
    padding-left: var(--pl-menu);
}

.notification {
    background-color: slategrey;
    width: var(--width-icons);
}

.notification__item {
    background-color: thistle;
}

.user {
    /* background-color: lightgreen; */
    margin-left: 100px;
}

.user__toggle {
    border: none;
    background-color: transparent;

    text-transform: capitalize;
}

.dashboard__content__section  {
    background-color: orangered;
    height: calc(100vh - var(--height-header));
}